<div class="fit-content">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header" style="text-align: center;">
                Staff Accounts
            </h1>
            <a routerLink="/system/newstaff"><button style="float: right;" class="btn btn-info btn-md">Create new Staff
                    Account</button></a>
        </div>
    </div>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="color: black;" scope="col">Username</th>
                    <th style="color: black;" scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let staff of staffs">
                    <td style="color: rgb(32, 29, 29);">{{ staff.username }}</td>
                    <td>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                <button type="button" class="btn btn-default" (click)="deleteStaff(staff.id)">Delete</button>
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
