<div class="fit-content">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header" style="text-align: center;">
                Staff Accounts
            </h1>
            <a href="/system/staffaccount"><button style="float: right;" class="btn btn-info btn-md">Create new Staff
                    Account</button></a>
        </div>
    </div>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="color: black;" scope="col">Username</th>
                    <th style="color: black;" scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <!--{% for staff in staff_crew %}-->
                <tr>
                    <td style="color: rgb(32, 29, 29);"> staff.username </td>
                    <td>
                        <form action="/" method="post" class="form-horizontal">
                            <!--{% csrf_token %}-->
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Delete" class="btn btn-default" />
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>
                <!--{% endfor %}-->
            </tbody>
        </table>
    </div>
</div>