<div class="w3l_banner_nav_right" *ngIf="order">
    <div class="w3ls_w3l_banner_nav_right_grid w3ls_w3l_banner_nav_right_grid_veg">
        <h3 class="w3l_fruit" style="margin-right: 10%;">Your Cart</h3>
        <h4 style="text-align: center; margin-right: 10%;">Request number: {{ order.id }} </h4>
        <br>
        <table class="table" style="width: 90%;">
            <thead>
                <caption>States</caption>
                <tr>
                    <th>State</th>
                    <th>Date</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let state of order.states">
                    <td> {{ state.state.name }} </td>
                    <td> {{ state.datetime | date :'short' }} </td>
                </tr>
            </tbody>
        </table>


        <table class="table" style="width: 90%;">
            <thead>
                <caption style="display: block;">Details</caption>
                <tr>
                    <th>Identifier</th>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let item of order.items">
                    <td> {{ item.product.id }} </td>
                    <td><a routerLink="/product/{{ item.product.id }}"> {{ item.product.name }} </a></td>
                    <td> {{ item.amount }} </td>
                    <td> {{ item.price }} € </td>
                    <td> {{ item.amount*item.price | number: '.2-2' }} € </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td> {{ order.price }} € </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>