<div class="p-5">
    <div class="row">
        <div class="col-md-12">
            <h1>
                Your Orders
            </h1>
        </div>
    </div>

    <div class="col-md-12 mt-5">
        <div>
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Identifier</th>
                            <th>State</th>
                            <th>Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let order of orders">
                            <td> {{ order.id }} </td>
                            <td> {{ order.states[order.states.length - 1].state.name }} </td>
                            <td> {{ order.states[order.states.length - 1].datetime }} </td>
                            
                            <td><a routerLink="/order/{{ order.id }}">Ver Detalhes</a></td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>