<div class="fit-content">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header" style="text-align: center;">
                User Accounts
            </h1>
        </div>
    </div>
    <br>
    <div class="container">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th style="color: black;" scope="col">Username</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td style="color: rgb(32, 29, 29);" ><a routerLink="/system/users/{{ user.id }}">{{ user.username }}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
