<div class="p-5">
    <div class="row">
        <div class="col-md-12">
            <h1>
                User's Orders
            </h1>
        </div>
    </div>

    <div class="col-md-12 mt-5">
        <div>
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="color: black;" scope="col">Id</th>
                            <th style="color: black;" scope="col">State</th>
                            <th style="color: black;" scope="col">Date</th>
                            <th style="color: black;" scope="col"></th>
                            <th style="color: black;" scope="col"></th>
                            <th style="color: black;" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let order of orders">
                            <th style="color: rgb(32, 29, 29);" scope="row">{{ order.id }}</th>
                            <td style="color: rgb(32, 29, 29);">{{ order.states[order.states.length-1].state.name }}</td>
                            <td style="color: rgb(32, 29, 29);">{{ order.states[order.states.length-1].datetime | date: 'short' }}</td>
                            <td><a href="/">Ver Detalhes</a></td>
                            <td>
                                <form action="/" method="post" class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Change State" class="btn btn-default" />
                                        </div>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form action="/" method="post" class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" name="cancel" value="Cancel" class="btn btn-default" />
                                        </div>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
