<nav id="nav" class="navbar navbar-expand-lg" style="background-color: #32C2CD; height: 50px; padding: 2rem 2rem ">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul style="list-style: none; position: absolute; top:5px ; right: 0; margin-right: 50px;">
            <li style="clear: both;" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user" aria-hidden="true" id="login_char"></i><span class="caret"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>