<div class="w3l_banner_nav_right">
	<div class="w3ls_w3l_banner_nav_right_grid w3ls_w3l_banner_nav_right_grid_veg">
		<h3 class="w3l_fruit" style="margin-left: -5%;">Your Cart</h3>

		<table class="table">
			<thead>
				<tr>
					<th>Product</th>
					<th>Amount</th>
					<th>Unitary Price</th>
					<th>Total Price</th>
					<th>Delete</th>
				</tr>
			</thead>

			<tbody>
					<tr *ngFor="let item of items">
						<td><a href="/">{{ item.product.name }}</a></td>
						<td>
							<form method="post">
								<input type="number" name="amount" value="{{ item.amount }}" id="amount-{{ item.product.id }}">
								<input type="submit" value="Update" (click)="updateItem(item.product.id)">
							</form>
						</td>
						<td>{{ item.product.price }} €</td>
						<td>{{ item.product.price * item.amount | number : '.2' }}  €</td>
						<td>
							<input type="submit" value="Delete" (click)="deleteItem(item.product.id)">
						</td>
					</tr>
			</tbody>
		</table>

		<div style="display: block; margin-left: 45%;">
			<input type="submit" value="Checkout" (click)="createOrder()">
		</div>

	</div>
</div>