<div class="fit-content">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header" style="text-align: center;">
                Dashboard <small>Summary of your App</small>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="card">
                <div>
                    <i class="fa fa-eye fa-5x"></i>
                </div>

                <div>
                    <h3>{{ staff_count }}</h3>
                    <strong> Staff Count</strong>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="card">
                <div>
                    <i class="fa fa-shopping-cart fa-5x"></i>
                </div>

                <div>
                    <h3>{{ user_count }}</h3>
                    <strong> User Count</strong>

                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="card">
                <div>
                    <i class="fa fa fa-comments fa-5x"></i>

                </div>
                <div>
                    <h3>{{ order_count }}</h3>
                    <strong> Order Count </strong>

                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="card">
                <div>
                    <i class="fa fa-users fa-5x"></i>

                </div>
                <div>
                    <h3>{{ product_count }}</h3>
                    <strong>Product Count</strong>

                </div>
            </div>
        </div>
    </div>


    <!--/.row-->
    <div class="col-md-10 col-sm-12 col-xs-12" style="margin-left: 8%;">

        <div class="panel-heading">
            <strong>Most Sold Products</strong>
        </div>
        <div>
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="color: black;" scope="col">Name</th>
                            <th style="color: black;" scope="col">Category</th>
                            <th style="color: black;" scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- {% for product in most_sold_products %} -->
                        <tr>
                            <td style="color: rgb(32, 29, 29);">product.name</td>
                            <td style="color: rgb(32, 29, 29);">product.category</td>
                            <td style="color: rgb(32, 29, 29);">product.price</td>
                        </tr>
                        <!-- {% endfor %} -->
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
