<div id="side-bar" style="position: absolute; top: 64px; left: 0 ;float: left ;height: calc(100vh - 64px); background-color: #32C2CD; width: 280px;"
    class="d-flex flex-column flex-shrink-0 p-3 text-white-dark">
    <p class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="64">
            <use xlink:href="#bootstrap"></use>
        </svg>
        <span class="fs-4"></span>
    </p>
    <p class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="64">
            <use xlink:href="#bootstrap"></use>
        </svg>
        <span class="fs-4"></span>
    </p>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a routerLink="dashboard" class="nav-link text-white">
                <svg class="bi me-2" width="16" height="32">
                    <use xlink:href="#home"></use>
                </svg>
                Dashboard
            </a>
        </li>
        <li>
            <a routerLink="products" class="nav-link text-white">
                <svg class="bi me-2" width="16" height="32">
                    <use xlink:href="#speedometer2"></use>
                </svg>
                Products
            </a>
        </li>
        <li>
            <a routerLink="categories" class="nav-link text-white">
                <svg class="bi me-2" width="16" height="32">
                    <use xlink:href="#table"></use>
                </svg>
                Categories
            </a>
        </li>
        <li>
            <a routerLink="usersorders" class="nav-link text-white">
                <svg class="bi me-2" width="16" height="32">
                    <use xlink:href="#grid"></use>
                </svg>
                User's orders
            </a>
        </li>
        <li>
            <a routerLink="usersaccounts" class="nav-link text-white">
                <svg class="bi me-2" width="16" height="32">
                    <use xlink:href="#people-circle"></use>
                </svg>
                Manage users accounts
            </a>
        </li>
        <li>
            <a routerLink="staffaccounts" class="nav-link text-white">
                <svg class="bi me-2" width="16" height="32" x>
                    <use xlink:href="#people-circle"></use>
                </svg>
                Manage staff accounts
            </a>
        </li>
        <li style="padding-top: 350px;">
            <a href="#" class="nav-link text-white">
                <svg class="bi me-2" width="16" height="32" x>
                    <use xlink:href="#people-circle"></use>
                </svg>
                Go to Home Page
            </a>
        </li>
    </ul>
</div>