<nav class="navbar navbar-expand-lg" style="background-color: #212121;">
  <div class="w3l_offers">
    <a routerLink="" >Your Market</a>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="mr-auto" style="height: 100%;">
      <div class="product_list_header">
        <a href="/cart"><input type="button" name="submit" value="View your cart" class="button" id="cartBtn" /></a>
      </div>
    </ul>

    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <ul style="list-style: none; margin-right: 50px;">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user" aria-hidden="true" id="login_char"></i><span class="caret"></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" data-toggle="modal" data-target="#loginModal" *ngIf="userService.token.value == null">Login</a>
          <a class="dropdown-item" data-toggle="modal" data-target="#signupModal" *ngIf="userService.token.value == null">Sign Up</a>

          <a class="dropdown-item" (click)="authService.logout()" *ngIf="userService.token.value != null">Log Out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
